.card-even {
  background: #242424;
  border: 2px solid #1E5128;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s, background 0.3s;
}

.card-even:hover {
  transform: scale(1.05);
  background: #2c2c2c;
}

.card-even img {
  width: 100%;
  height: 200px; /* Set a fixed height to avoid stretching */
  object-fit: fill; /* Ensures the image covers the area without stretching */
  border-bottom: 2px solid #007bff;
  border-radius: 15px 15px 0 0;
}

.card-even h3 {
  margin: 10px 0;
  font-size: 1.5em;
}

.buttons-even {
  display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-even {
  background-color: #62A388;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn-even:hover {
  background-color: #0056b3;
}
