*{
    margin: 0;
    border: 0;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
}

.header{
    /* background-color: #A33327; */
    /* height: 50px; */
    /* border-radius: 25px; */
    width: 90%;
    margin: 0 auto;
    padding-left: 10px;
    display: flex;
    /* margin-left: 30px; */
    /* background-color: #fff; */
    font-size: x-large;
    justify-content: space-between;
}

.header > h1{
    font-family: "PT Serif Caption", serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #F05941;
    padding: 10px;
    /* margin-left: 8px; */
    
}


/* .profile{
    height: 50px;
    width: 80px;
    margin: 10px 20px 5px 5px;
    
    cursor: pointer;
    background-color: #C7493A;
    font-weight: bold;
    font-size: large;
    background-color: none;
} */

/* Adding Responsiveness */
@media (max-width: 1025px) {
    .header{
        /* background-color: #A33327; */
        /* height: 50px; */
        /* border-radius: 25px; */
        margin: 10px;
        display: flex;
        justify-content: space-evenly;
        margin-left: 30px;
        /* background-color: #fff; */
        font-size: medium;
        width: 100%;
    }
    .header > h1{
        text-align: left;
        color: #C7493A;
        padding: 10px;
        width: 100%;
        /* margin-left: 8px; */
        
    }
    
    
    
}