


.profile-pic > img{
    height: 50px;
    width: 50px;
    margin: 10px 20px 5px 5px;
    border-radius: 50%;
}

@media (max-width: 1025px){

    .profile-pic > img{
        height: 40px;
        width: 40px;
        margin-right: 50px;
        cursor: pointer;
        border-radius: 50%;
    }
}