.search-bar{
    margin: 10px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    /* margin-right: 20px; */
    
}

.search-bar > input{
    width: 50%;
    height: 50%;
    border-radius: 50px;
    font-size: x-large;
    padding: 10px;
    background-color: #F05941;
    color: #EEEEEE;
    margin-left: 150px;
    margin-top:10px;
}

::placeholder {
    color: #EEEEEE;
    opacity: 0.8; /* Firefox */
}

.search-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 0;
    align-self: center;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 110px;
    margin-top: 10px;
    background-color: #F05941;

    /*transition*/
    transition: background-color 0.3s, transform 0.3s;
}
.search-icon:hover{
    background-color: #e04834; 
    transform: scale(1.05); 
}

.search-icon:active {
    background-color: #c04330; 
    transform: scale(0.95); 
}
.search-icon > img{
    width: 25px;
    height: 25px;
    
}

@keyframes buttonFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.search-bar {
    animation: buttonFadeIn 1s ease-in-out;
}
.search-icon{
    animation: buttonFadeIn 1s ease-in-out;
}


@media (max-width: 1025px){
    .search-bar{
        display: none;
    }
    .search-icon{
        display: none;
    }
}