.row {
  display: flex;
  justify-content: space-evenly;
}
ElementOdd,
ElementEven {
  margin: 30px;
}

@media screen and (max-width: 1025px) {
  .row {
    display: block;
    width: 100%;
  }
}
<<<<<<< HEAD
=======

@media (max-width: 767px) {
  .container {
      grid-template-columns: 1fr;
  }
}

.light-mode{
  background-color: aliceblue;
}

.dark-mode{
  background-color: #1E1E1E;
}
>>>>>>> main
