.navbar-custom {
  background-color: rgba(30, 30, 30, 0.5);
  transition: all 0.3s ease;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-custom .navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-custom .button {
  background: #ef5941;
  border: none;
  color: #fff;
}

.navbar-custom .nav-link {
  margin-right: 0.3rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .nav-dropdown-item,
.navbar-custom .navbar-toggler,
#basic-nav-dropdown {
  color: #ef5941;
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-dropdown-item:hover {
  color: #ef5941 !important;
}

.navbar-custom .navbar-toggler {
  border-color: #fff;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 89, 65, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Add margin beneath the dropdown on smaller screens when the navbar is collapsed */
@media (max-width: 992px) {
  .navbar-collapse .dropdown-menu {
    margin-bottom: 15px;
  }

  .navbar-collapse {
    transition: all 0.3s ease;
  }
}
